{% extends "layout.html" %}

{% block content %}

<div class="container">
	<h1>This is create post page</h1>
	<div class="container mt-5">
        <form method="POST">
            {{ form.hidden_tag() }}
            <div class="form-group">
                {{ form.name.label(class="form-label") }}
                {{ form.name(class="form-control") }}
            </div>
			<br/>
			<div class="form-group">
                {{ form.title.label(class="form-label") }}
                {{ form.title(class="form-control") }}
            </div>
			<br/>	
			 <div class="form-group">
                {{ form.post.label(class="form-label") }}
                {{ form.post(class="form-control") }}
            </div>
			<br/>
            <div class="form-group">
                {{ form.submit(class="btn btn-primary") }}
            </div>
        </form>
    </div>
</div>

{% endblock %}